@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
/* resets */

* {
    /* border: 1px dashed black; */
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/* compos */

.panel {
    background-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
}

.button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
}

.button--medium {
    min-width: 5rem;
}

.button--dark {
    background-color: lightgray;
}

.field {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--vertical {
    flex-direction: column;
}

.container--gapped {
    margin: 1rem;
}

.container--off {
    display: none;
}

.container--full {
    height: 100%;
}

.spinner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.spinner__image {
    width: 10vw;
    height: 10vw;
}

.home__results {
    list-style: none;
}

.home__result {
    cursor: pointer;
}

.home__detail-image {
    max-width: 80vw;
}

.logo__image {
    width: 5vw;
}

.logo__text {
    color: dodgerblue;
    margin: 0 0 0 1rem;
    font-family: 'Henny Penny';
}

.time {
    font-size: .75rem;
}

.feedback {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.feedback__text {
    color: black;
    font-family: 'Bebas Neue';
}

.feedback__text--info {
    color: blue;
}

.feedback__text--warn {
    color: yellow;
}

.feedback__text--success {
    color: green;
}

.feedback__text--error {
    color: red;
}