<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">&nbsp;</nav>
    </header>
    
    <div class="central">
        <aside class="central__aside"></aside>
        <main class="central__main">
            <h1 class="central__main-title"></h1>
            <p class="central__main-body"></p>
        </main>
        <aside class="central__aside"></aside>
    </div>

    <footer class="footer">
        <nav class="nav-bar">&nbsp;</nav>
    </footer>
</body>
</html>