<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="style.css">
</head>
<body class="container">
    <form class="panel panel--light" action="" id="register">
        <h1 class="panel__title">Register</h1>
        <label for="name">Name</label> <input class="field" type="text" name="name" id="name" placeholder="name"><br>
        <label for="birthdate">Birth</label> <input class="field" type="date" name="birth" id="birthdate"><br>
        <label for="username">Username</label> <input class="field" type="text" name="username" id="username"
            placeholder="username"><br>
        <label for="password">Password</label> <input class="field" type="password" name="password" id="password"
            placeholder="password"><br>
        <button class="button" type="submit">Register</button>
        <button class="button" type="reset">Clear</button>
    </form>
</body>
</html>